---
import Buttom from "./Buttom.astro";

interface Props {
  class?: string;
  imageSrc: string;
  title: string;
  subtitle: string;
}

const { class: className, title, imageSrc, subtitle } = Astro.props;
---

<section
  class:list={[
    "bg-gradient-to-b from-bgDark3 to-bgDark2 rounded-3xl h-full border border-neutral-600 hover:to-bgDark3 transition-all duration-[2000s] ease-in-out cursor-pointer p-6 flex flex-col justify-between",
    className,
  ]}
>
  <div class="flex justify-end h-[50%]">
    <img
      src={imageSrc}
      alt={title}
      class="rounded-2xl mb-6 w-auto object-cover object-top"
      aria-label={title}
    />
  </div>
  <div>
    <h3
      class="mb-4 text-3xl font-Jakarta font-medium font-heading text-primaryText"
    >
      {title}
    </h3>
    <p class="text-secondaryText leading-loose">
      {subtitle}
    </p>
    <Buttom text="Conocer mas" href="#" class="w-max mt-5" />
  </div>
</section>
